@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #090233;
    font-family: "Roboto Condensed";
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 90%;
}

th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #2c3e50;
    color: white;
}

td {
    background-color: #ecf0f1;
}

        
.topbar{
    background: rgba(0, 0, 0, 0.5);
    width: 80%;
    /* height: 10%; */
    margin: auto;
    margin-top: 10px;

    text-align: center;
    padding:1.5%;

    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.2) 8px 10px 4px;
}
.button{
    text-decoration: none;
    color:white;
    margin:auto;
    margin: 5%;
    padding:8px;
    border-radius: 8px;

    font-size: 1.5rem;

    
}

.maingrid{
    grid-template-areas: 
        "main main main main"
        "pro web cs slaap"; 
    
    display:grid;

    grid-template-rows: 2fr 5fr;

    padding:2%;
    padding-bottom:10%;
    border-radius: 16px;

    width:80%;
    margin:auto;
    margin-top:2%;

    gap: 10px;
    row-gap: 20px;

    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: rgba(0, 0, 0, 0.6) 10px 10px 10px;
}

.main{
    grid-area: main;

    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #01303F); */
    
    /* backdrop-filter: blur(10px); */
    /* max-width:80%; */
    height:100%;
    border-radius: 16px;
    margin:auto;
    margin-top: 20px;
    text-align: center;
    
}
.main h1{
    position: relative;
    color:white;
    z-index: 1;
    justify-content: center;
}
main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
}
.bg{
    /* position: relative; */
    width: 100%;
    /* overflow: hidden; */
    height:100%;
}
.bg iframe{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index:-99999;
}

.pro, .cs, .web, .applicatiebeheer{
    display:grid;
    /* text-align: center; */
    font-weight: bold;
    font-size: 1.2rem;

    background-color: rgba(0, 0, 0, 0);

    justify-content: center;
    
    width:80%;

    border-radius: 8px;
}
.pro a, .cs a, .web a, .applicatiebeheer a{
    /* text-decoration: none; */

    margin:auto;
    color:white;
} 


.pro{
    grid-area: pro;
    background-image: url("images/cybercrime.jpg");
}

.cs{
    grid-area: cs;
    background-image: url("images/touchdashish.jpg");
}

.web{
    grid-area: web;
    background-image: url("images/AI\ Image.png"); 
}

.applicatiebeheer{
    grid-area: slaap;
    background-image: url("images/app.jpg");
}

.footy{
    margin-top:100vh;
    /* grid-area: foot;
    display: grid; */
}

.tabelles
{
    display: block;
    background-color: #c3a20e;
    margin: 150px;
}
.lesseninfo
{
    display: block;
   background-color: rgba(104, 3, 3, 0.6);
   box-shadow: rgba(0, 0, 0, 0.6) 10px 10px 10px;
    margin: 20px;
    width: 100%;
    border-radius: 16px;
}
.lesinfo {
    color: white;
    background-color: rgba(0, 0, 0, 0.219);
    border-radius: 10px;
    text-align: center;
    height: 200px;
    display: inline-block;
    width: 50%;
    
}
.lesinfo2 {
    border-radius: 10px;
    color: white;
    width: 40%;
    height: 100%;
    display: inline-block;
    padding: 20px;
}
.lesrooster
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.lessen
{
    display: block;
    background-color: #980000;
}
.Computergerichtevakken 
{
color: white;
border-radius: 15px;
border: solid 1rem white;
padding: 1.5rem;
margin: 1.5rem;
}
.FotoApplicatiebeheer
{
display: inline-block;
    border-radius: 15px;
    border: solid white;
    display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
margin: 1.5rem;
}
.Fotocomputersystemen
{
    display: inline-block;
    border-radius: 15px;
    border: solid white;
    display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
margin: 1.5rem;
}
.Fotowebdesign
{
   display: inline-block;
    border-radius: 15px;
    border: solid white;
    display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
margin: 1.5rem; 
}
.Fotoprogrammeren
{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: solid white;
    border-radius: 15px;
    height: 100%;
    width: 100%;

}
.Fotoprogrammeren img {
    flex-shrink: 1;
    width: 10%;
    height: 50%;
    object-fit: cover;
}
.Applicatiebeheer
{
border-radius: 15px;
border: solid white;
padding: 1.5rem;
margin: 0.5rem;
}
.computersystemen
{
border-radius: 15px;
border: solid white;
padding: 1.5rem;
margin: 0.5rem;   
}
.programmeren
{
border-radius: 15px;
border: solid white;
padding: 1.5rem;
margin: 0.5rem; 
}
.Webdesign
{
border-radius: 15px;
border: solid white;
padding: 1.5rem;
margin: 0.5rem; 
}
.Form {
    background-color: rgb(79, 97, 136);
    border-radius: 12px;
    width: 50%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2%;
}
.Form p {
    margin-bottom: 5%;
}
select {
    margin: 2%;
}
fieldset {
    padding-left: 2%;
    margin-bottom: 5%;
    border-radius: 12px;
}
.submit {
    border: none;
    background-color: #00aa00;
    color: white;
    padding: 2%;
    border-radius: 12px;
}
.reset {
    border: none;
    background-color: #980000;
    color: white;
    padding: 2%;
    border-radius: 12px;
}
textarea {
    width: 98%;
    border-radius: 12px;
}
input {
    border-radius: 8px;
    border: 1px solid;
    padding: 1%;
}
label {
    color: white;
}
legend {
    color: white;
}
.titelformulier {
    color: white;
    text-align: center;
    margin-top: 2%;
}
footer
{
    background-color: white;
    text-align: center;
    padding: 1.5rem;
    margin-bottom: 0;
}
