@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* reset */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    font-family: "Roboto Condensed";
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 90%;
}

th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #2c3e50;
    color: white;
}

td {
    background-color: #ecf0f1;
}

/* topbar aanmaken */
.topbar{
    background: rgba(0, 0, 0, 0.5);
    width: 80%;
    /* height: 10%; */
    margin: auto;
    margin-top: 10px;

    text-align: center;
    padding:1.5%;

    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.2) 8px 10px 4px;
}
.button{ /* design voor de knoppen */
    text-decoration: none;
    color:white;
    margin:auto;
    margin: 5%;
    padding:8px;
    border-radius: 8px;

    font-size: 1.5rem;

    
}
/* layout mainpage */
.maingrid{
    grid-template-areas: 
        "main main main main"
        "pro web cs slaap"; 
    
    display:grid;

    grid-template-rows: 2fr 5fr;

    padding:2%;
    padding-bottom:10%;
    border-radius: 16px;

    width:80%;
    margin:auto;
    margin-top:2%;

    gap: 10px;
    row-gap: 20px;

    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: rgba(0, 0, 0, 0.6) 10px 10px 10px;
}

.main{
    grid-area: main;

    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #01303F); */
    
    /* backdrop-filter: blur(10px); */
    /* max-width:80%; */
    height:100%;
    border-radius: 16px;
    margin:auto;
    margin-top: 20px;
    text-align: center;
    
}
.main h1{
    position: relative;
    color:white;
    z-index: 1;
    justify-content: center;
}
main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
}
.bg{
    /* position: relative; */
    width: 100%;
    /* overflow: hidden; */
    height:100%;

    /* position: fixed; */
    /* margin: auto; */
}
.bg iframe{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index:-99999;
}

.pro, .cs, .web, .applicatiebeheer{
    display:grid;
    /* text-align: center; */
    font-weight: bold;
    font-size: 1.2rem;

    background-color: rgba(0, 0, 0, 0);

    justify-content: center;
    
    width:80%;

    border-radius: 8px;
}
.pro a, .cs a, .web a, .applicatiebeheer a{
    /* text-decoration: none; */

    margin:auto;
    color:white;
} 


.pro{
    grid-area: pro;
    background-image: url("images/cybercrime.jpg");
}

.cs{
    grid-area: cs;
    background-image: url("images/touchdashish.jpg");
}

.web{
    grid-area: web;
    background-image: url("images/AI\ Image.png"); 
}

.applicatiebeheer{
    grid-area: slaap;
    background-image: url("images/app.jpg");
}

.footy{
    margin-top:34.3vh;
    /* grid-area: foot;
    display: grid; */
}

.tabelles
{
    display: block;
    background-color: #ffffff;
    margin: 250px;
    border-radius: 10px;
    margin-top: 120px;
    width: 80%;
}
.lesseninfo
{
    display: block;
    margin: 20px;
    width: 100%;
    border-radius: 16px;
    height: 100px;
    text-align: center;
}
.lesinfo {
    color: rgb(246, 246, 246);
    background-color: rgba(190, 190, 190, 0.491);
    border-radius: 10px;
    text-align: center;
    height: 200px;
    display: inline-block;
    width: 80%;
    margin: 2rem;
    padding-top: 2rem;
    box-shadow: #000000 0px 10px 20px;
    margin-left: 0px;
}
.lesrooster
{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    vertical-align: center;
}
.lessen
{
    display: block;
    background-color: #980000;
}
.Computergerichtevakken 
{
box-shadow: rgba(0, 0, 0, 0.2) 8px 10px 4px;
background-color: rgb(235, 234, 234);
backdrop-filter: blur(20px);
color: black;
border-radius: 15px;
border: solid 2px rgba(255, 255, 255, 0.55);
padding: 1.5rem;
margin: 1.5rem;
width: 80%;
margin-left: 128px;
}
#AchtergrondComputersystemen
{
    background-color: #908e8e;
}
.Computergerichtevakken h1
{
    text-align: center;
}
.FotoApplicatiebeheer
{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: solid black;
    border-radius: 15px;
    height: 100%;
    width: 45%;
    margin: auto;
    margin-top: 2rem;
}
.FotoApplicatiebeheer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: solid black;
    border-radius: 15px;
    height: 100%;
    width: 45%;
    margin: auto;
    margin-top: 2rem;
}
.Fotocomputersystemen
{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: solid black;
    border-radius: 15px;
    height: 100%;
    width: 45%;
    margin: auto;
    margin-top: 2rem;
}
.Fotowebdesign
{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: solid black;
    border-radius: 15px;
    height: 100%;
    width: 45%;
    margin: auto;
    margin-top: 2rem;
}
.Fotoprogrammeren
{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: solid black;
    border-radius: 15px;
    height: 100%;
    width: 45%;
    margin: auto;
    margin-top: 2rem;
}
.Fotoprogrammeren img {
    flex-shrink: 1;
    width: 500px;
    object-fit: cover;
}
.Fotocomputersystemen img {
    flex-shrink: 1;
    width: 500px;
    object-fit: cover;
}
.Fotowebdesign img {
    flex-shrink: 1;
    width: 500px;
    object-fit: cover;
}
.FotoApplicatiebeheer img {
    flex-shrink: 1;
    width: 500px;
    object-fit: cover;
}
.FotoApplicatiebeheer2 img{
    flex-shrink: 1;
    width: 500px;
    object-fit: cover;
}
.Applicatiebeheer
{
border-radius: 15px;
border: solid black;
padding: 1.5rem;
margin: 0.5rem;
}
.computersystemen
{
border-radius: 15px;
border: solid black;
padding: 1.5rem;
margin: 0.5rem;   
}
.programmeren
{
border-radius: 15px;
border: solid black;
padding: 1.5rem;
margin: 0.5rem; 
}
.Webdesign
{
border-radius: 15px;
border: solid black;
padding: 1.5rem;
margin: 0.5rem; 
}
.Form {
    background-color: rgba(0, 0, 0, 0.114);
    border-radius: 12px;
    width: 50%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2%;

    box-shadow: rgba(0, 0, 0, 0.6) 10px 10px 10px;
}
.Form p {
    margin-bottom: 5%;
}
select {
    margin: 2%;
}
fieldset {
    padding-left: 2%;
    margin-bottom: 5%;
    border-radius: 12px;
}
.submit {
    border: none;
    background-color: #00aa00;
    color: white;
    padding: 2%;
    border-radius: 12px;
}
.reset {
    border: none;
    background-color: #980000;
    color: white;
    padding: 2%;
    border-radius: 12px;
}
textarea {
    width: 98%;
    border-radius: 12px;
}
input {
    border-radius: 8px;
    border: 1px solid;
    padding: 1%;
}
label {
    color: white;
}
legend {
    color: white;
}
.titelformulier {
    color: white;
    text-align: center;
    margin-top: 2%;
}
footer
{
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 1.5rem;
    margin-bottom: 0;
    color: white;
}
.BackgroundForm {
    background-color: rgb(101, 96, 158);
}
.lessenvakken {
     background-color: #908e8e;
}
.voorbeeldles {
    text-align: center;
}
.computer {
    background-color: #908e8e;
}
.TabelForm {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
.Uitleg {
    color: white;
    padding: 80px;
        background-color: rgba(0, 0, 0, 0.6);
    box-shadow: rgba(0, 0, 0, 0.6) 10px 10px 10px;
    width: 80%;
    margin-left: 100px;
}